<p class="field" id=<%="#{address_id}phone" %>>
  <%= form.label :phone, Spree.t(:phone) %><span class="required">*</span><br />
  <%= form.phone_field :phone, :class => 'required' %>
</p>
<% if Spree::Config[:alternative_shipping_phone] %>
  <p class="field" id=<%="#{address_id}altphone" %>>
    <%= form.label :alternative_phone, Spree.t(:alternative_phone) %><br />
    <%= form.phone_field :alternative_phone %>
  </p>
<% end %>

